template(name='Index')
  #hello
    .container
      .row
        .col-lg-8.col-lg-offset-2.centered
          h1 Gerenciador Meteor Fast Hack
          h2 Hacks em Meteor e em 1h!
  .container
    .row.centered.mt.grid
      h3 Meteor Hacks feitos em 1H!
      .mt
      .col-lg-4
        a(href='#')
          img(src='images/meteor.jpg', alt='')
          h3 Primeiro Lugar
          p Tes test
      .col-lg-4
        a(href='#')
          img(src='images/meteor.jpg', alt='')
          h3 Primeiro Lugar
          p Tes test
      .col-lg-4
        a(href='#')
          img(src='images/meteor.jpg', alt='')
          h3 Primeiro Lugar
          p Tes test
    .row.centered.mt.grid
      .mt
      .col-lg-4
        a(href='#')
          img(src='assets/img/04.jpg', alt='')
      .col-lg-4
        a(href='#')
          img(src='assets/img/05.jpg', alt='')
      .col-lg-4
        a(href='#')
          img(src='assets/img/06.jpg', alt='')
    .row.mt.centered

